<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% if @cocktail.photos? %>
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @cocktail.photos.first.path, crop: :fill %>');">
        <div class="banner-content">
          <h1><%= "#{@cocktail.name} cocktail" %></h1>
          <% @doses.each do |d| %>
          <% if d.ingredient %>
          <%= "#{d.description} of #{d.ingredient.name}" %> |
          <% end %>
          <% end %>
        </div>
      </div>

      <% end %>
    </div>
  </div>


    <h3>New dose</h3>
  <div class="row">
      <%= simple_form_for [@cocktail, @dose] do |d| %>
    <div class="col-xs-6">
      <%= d.input :description, placeholder: "Example, 5cl" %>
      <%= d.association :ingredient %>
      <%= d.submit "Add a dose", class: "btn btn-success" %>
      <% end %>
      <%= link_to cocktail_path(@cocktail), method: :delete do %>
      <p class="btn btn-danger style-delete"> Delete cocktail</p>
      <% end %>

    </div>
  </div>

</div>
</div>

