<!DOCTYPE html>
<html>
<head>
  <title>RailsMisterCocktail</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= cloudinary_js_config %>

  <meta property="og:url" content="https://mr-cocktail-3-keemtaker.herokuapp.com/cocktails" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="RailsMisterCocktail" />
  <meta property="og:description"   content="Make your own cocktail" />
  <meta property="og:image"         content="https://images.unsplash.com/photo-1472245088132-ccd50746725c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=16b96afe301988ecd02686f8318a1a7b" />
  <meta property="fb:app_id" content="130317747635332" />


</head>

<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=130317747635332';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <%= render "layouts/navbar" %>
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
  <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
